<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <a href="/">Home</a>
    <h1>All Flights</h1>
    <ul>
        <% flights.forEach(function(f) { %>
            <li>
                <form action="/flights/<%=s.id%>?_method=DELETE" class="delete-form" method="POST">  
                    <button type="submit">X</button>
                </form>
                <a href="/flights/<%=f.id%>"><%=f.flight%></a>
                  -
                <%= f.apply ? 'apply' : "don't apply" %>  
            </li>
        <% }); %>    
    </ul>
    <a href="/flights/new">Add Flight</a>
</body>
</html>